<section class="px-5 bg-primary">
    <nav class="navbar navbar-expand-md bg-primary navbar-dark py-0">
        <!-- Brand -->
        <a class="navbar-brand" href="#">ZenduForms</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto active-navbar">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-bookmark-o"></i> Forms </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-users"></i> Customers </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-line-chart"></i> Submissions </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-history"></i> History </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-signal"></i> Reports </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-signal"></i> Workflow </a>
            </li>
            
          </ul>
        </div>
      </nav>
</section>