

<section class="mt-4 mx-5">
  <div class="">
      <h5>All Forms</h5>
      <div class="row">
          <div class="col-md-6">
              <input type="search" placeholder="Search" class="form-control w-50">
          </div>
          <div class="col-md-6 text-right">
              <button class="btn btn-primary">+ Add new form</button>
          </div>
      </div>
  </div>
</section>

<section class="pt-4 mx-5">
  <div class="mx-3">
      <div class="row align-items-center border-row">
          <div class="col-md-3">
              <div class="form-report">
                  <p>
                      <i class="fa fa-file-text text-primary mr-1"></i> 
                      <strong class="">
                          Prodsuct delovery card
                      </strong>
                  </p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-report">
                  <span>Created</span>
                  <p>hitesh@zendutest.com</p>
              </div>
          </div>
          <div class="col-md-1 text-right">
              <div class="form-report">
                  <span>Created</span>
                  <p class="text-primary">2</p>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-report last-icon">
                  <i class="fa fa-paper-plane-o"></i> 
                  <i class="fa fa-pie-chart"></i> 
                  <i class="fa fa-line-chart"></i> 
                  <i class="fa fa-pencil"></i> 
              </div>
          </div>
      </div>
      <div class="row align-items-center border-row">
          <div class="col-md-3">
              <div class="form-report">
                  <p>
                      <i class="fa fa-file-text text-primary mr-1"></i> 
                      <strong class="">
                          Prodsuct delovery card
                      </strong>
                  </p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-report">
                  <span>Created</span>
                  <p>hitesh@zendutest.com</p>
              </div>
          </div>
          <div class="col-md-1 text-right">
              <div class="form-report">
                  <span>Created</span>
                  <p class="text-primary">2</p>
              </div>
          </div>
      </div>
      <div class="row align-items-center border-row">
          <div class="col-md-3">
              <div class="form-report">
                  <p>
                      <i class="fa fa-file-text text-primary mr-1"></i>
                      <strong class="">
                          Prodsuct delovery card
                      </strong>
                  </p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-report">
                  <span>Created</span>
                  <p>hitesh@zendutest.com</p>
              </div>
          </div>
          <div class="col-md-1 text-right">
              <div class="form-report">
                  <span>Created</span>
                  <p class="text-primary">2</p>
              </div>
          </div>
      </div>
      <div class="row align-items-center border-row">
          <div class="col-md-3">
              <div class="form-report">
                  <p>
                      <i class="fa fa-file-text text-primary mr-1"></i>
                      <strong class="">
                          Prodsuct delovery card
                      </strong>
                  </p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2 px-0">
              <div class="form-report">
                  <span>Created</span>
                  <p>Dec 24, 2020</p>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-report">
                  <span>Created</span>
                  <p>hitesh@zendutest.com</p>
              </div>
          </div>
          <div class="col-md-1 text-right">
              <div class="form-report">
                  <span>Created</span>
                  <p class="text-primary">2</p>
              </div>
          </div>
      </div>
  </div>
</section>